{% extends 'base.html'%}
{% block content %}
    
    
    <div class="container" style="height: 500px;"> 
        <h1 style="height: 100px; padding-top:20px; padding-bottom:60px; text-align:center;">Login page</h1>
        <form action="{{login}}" method="POST">
            {% csrf_token %}
            <pre style="text-align: center;font-size:x-large; font-style:italic;">
                Username : <input type="text" name="username" placeholder="User name"><br>
                Password : <input type="password" name="password" placeholder="Password"><br>
                <input type="submit">
            </pre>
        </form>
        <div>
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}
